
# lib folder with built Javascript
lib

# local folder with test code
local

# documentation output
docs

# html tests
html


###########################################################
# Sublime Text
###########################################################
numjis.sublime-workspace
doc/
