
# lib folder with built Javascript
lib

# local folder with test code
local


###########################################################
# Sublime Text
###########################################################
numjis.sublime-workspace